<!DOCTYPE html>
<html>
<head>
    <title>Dzieła literatury światowej</title>
    <meta charset="UTF-8"/>
    <style>
        body {
            font-family: Verdana, sans-serif;
        }

        table {
            border-collapse: collapse;
            border: 2px solid black;
        }

        td {
            border: 1px solid black;
        }

        th {
            border: 1px solid black;
            background: black;
            color: white;
        }

        .w10 {
            background: #494949;
            color: white;
        }

        .w2 {
            background: #eeeeee;
        }
    </style>

</head>
<body>

<h1>Dzieła literatury światowej</h1>


<table>
    <tr>
        <th>lp.</th>
        <th>Autor</th>
        <th>Tytuł</th>
        <th>Literatura</th>
        <th>Okres powstania lub data publikacji utworu</th>
    </tr>

    {% for utwor in literatura %}
        {% if loop.index is divisibleby(10) %}
            <tr class="w10">
        {% elseif loop.index is divisibleby(2) %}
            <tr class="w2">
        {% else %}
            <tr>
        {% endif %}

        <td>{{ loop.index }}.</td>
        <td>{{ utwor.autor }}</td>
        <td>{{ utwor.tytul }}</td>
        <td>{{ utwor.literatura }}</td>
        <td>{{ utwor.data }}</td>
        </tr>
    {% endfor %}

</table>


</body>
</html>